<template>
  <div class="navbar">
    <div @click="$router.push('/')">Мои посты </div>
    <div class="navbar__btns">
      <my-button @click="$router.push('/posts')">Посты</my-button>
      <my-button @click="$router.push('/about')">О сайте</my-button>
      <my-button @click="$router.push('/store')">Использование vuex</my-button>
      <my-button @click="$router.push('/composition')">Composition api</my-button>
    </div>
  </div>
</template>

<script>
import MyButton from "./MyButton.vue";
export default {
  components: { MyButton },
};
</script>

<style scoped>
.navbar {
  height: 50px;
  background-color: lightgray;
  box-shadow: 2px 2px 4px gray;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.navbar__btns {
  margin-left: auto;
}
</style>