<template>
  <form @submit.prevent>
    <h4>Создание поста</h4>
    <!-- <input class="input" v-bind:value="title" @input="title = $event.target.value" type="text" placeholder="Название"> -->
    <my-input type="text" v-focus v-model="post.title" placeholder="Название" />
    <my-input type="text" v-model="post.body" placeholder="Описание" />
    <my-button
      @click="createPost"
      style="align-self: flex-end; margin-top: 15px"
      >Создать</my-button
    >
  </form>
</template>

<script>
export default {
  data() {
    return {
      post: {
        title: "",
        body: "",
      },
    };
  },
  methods: {
    createPost() {
      this.post.id = Date.now();
      this.$emit("create", this.post);
      this.posts = {
        title: "",
        body: "",
      };
    },
  },
};
</script>

<style scoped>
form {
  display: flex;
  flex-direction: column;
}
</style>