<template>
  <div>
    <h1>Страница с постами</h1>
    <my-input v-focus v-model="serchQuery" placeholder="Поиск..." />
    <div class="app__btns">
      <my-button >Создать пост</my-button>
      <my-select v-model="selectedSort" :options="sortOptions" />
    </div>

    <my-dialog v-model:show="dialogVis">
      <post-form />
    </my-dialog>

    <post-list
      :posts="sortedAndSerchPosts"
     
      v-if="!isPostsLoading"
    />
    <div v-else>Идет загрузка...</div>

    <div class="page__wrapper">
      <div
        v-for="pageNumber in totalPages"
        :key="pageNumber"
        class="page"
        
        @click="changePage(pageNumber)"
      >
        {{ pageNumber }}
      </div>
    </div>
  </div>
</template>

<script>
import PostForm from "@/components/PostForm.vue";
import PostList from "@/components/PostList.vue";
import MyDialog from "@/components/UI/MyDialog.vue";
import MyButton from "@/components/UI/MyButton.vue";
import axios from "axios";
import MyInput from "@/components/UI/MyInput.vue";
import { ref } from "@vue/reactivity";
import {usePosts} from "@/hooks/usePosts";
import {useSortedPosts} from "@/hooks/useSortedPosts";
import {useSortedAndSerchPosts} from "@/hooks/useSortedAndSerchPosts";

export default {
  components: {
    PostForm,
    PostList,
    MyDialog,
    MyButton,
    MyInput,
  },
  data() {
    return {
      dialogVis: false,
      sortOptions: [
        { value: "title", name: "По названию" },
        { value: "body", name: "По описанию" },
      ],
    };
  },
  setup(props) {
    const { posts, totalPages, isPostsLoading } = usePosts(10);
    const { selectedSort, sortedPosts } = useSortedPosts(posts);
    const { serchQuery, sortedAndSerchPosts } = useSortedAndSerchPosts(sortedPosts);
    return {
      posts,
      totalPages,
      isPostsLoading,
      selectedSort,
      sortedPosts,
      serchQuery,
      sortedAndSerchPosts,
    };
  },
  methods: {},
  mounted() {},
  computed: {},
  watch: {
    // page() {
    //   this.fetchPosts();
    // },
  },
};
</script>

<style>
.app__btns {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.page__wrapper {
  display: flex;
  margin-top: 15px;
}
.page {
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}
.current-page {
  border: 5px solid green;
}
</style>