<template>
  <div>
    <div>
      <my-button @click="$store.commit('incrementLikes')">Лайк</my-button>
      <my-button @click="$store.commit('decrementLikes')">Дизлайк</my-button>
    </div>
    <h1>Страница с постами</h1>
    <my-input
      v-focus
      :modelValue="serchQuery"
      @update:modelValue="setSerchQuery"
      placeholder="Поиск..."
    />
    <div class="app__btns">
      <my-button @click="showDialog">Создать пост</my-button>
      <my-select
        :modelValue="selectedSort"
        @update:modelValue="setSelectedSort"
        :options="sortOptions"
      />
    </div>

    <!-- <my-dialog v-model:show="dialogVis"> -->
    <!-- <post-form @create="createPost" /> -->
    <!-- </my-dialog> -->

    <post-list
      :posts="sortedAndSerchPosts"
      @remove="removePost"
      v-if="!isPostsLoading"
    />
    <div v-else>Идет загрузка...</div>
    <!-- <div v-intersection="{name: 'TEST'}" class="observer">Идет загрузка...</div> -->
    <div class="page__wrapper">
      <div
        v-for="pageNumber in totalPages"
        :key="pageNumber"
        class="page"
        :class="{ 'current-page': page === pageNumber }"
        @click="changePage(pageNumber)"
      >
        {{ pageNumber }}
      </div>
    </div>
  </div>
</template>

<script>
import PostForm from "@/components/PostForm.vue";
import PostList from "@/components/PostList.vue";
import MyDialog from "@/components/UI/MyDialog.vue";
import MyButton from "@/components/UI/MyButton.vue";
import MyInput from "@/components/UI/MyInput.vue";
import { mapActions, mapGetters, mapState, mapMutations } from "vuex";

export default {
  components: {
    PostForm,
    PostList,
    MyDialog,
    MyButton,
    MyInput,
  },
  data() {
    return {
      dialogVis: false,
    };
  },
  methods: {
    ...mapMutations({
      setPage: "post/setPage",
      setSelectedSort: "post/setSelectedSort",
      setSerchQuery: "post/setSerchQuery",
    }),
    ...mapActions({
      fetchPosts: "post/fetchPosts",
    }),
    createPost(post) {
      this.posts.push(post);
      this.dialogVis = false;
    },
    removePost(post) {
      this.posts = this.posts.filter((p) => p.id !== post.id);
    },
    showDialog(post) {
      this.dialogVis = true;
    },
    changePage(pageNumber) {
      this.page = pageNumber;
    },
  },
  mounted() {
    this.fetchPosts();
  },
  computed: {
    ...mapState({
      posts: (state) => state.post.posts,
      isPostsLoading: (state) => state.post.isPostsLoading,
      selectedSort: (state) => state.post.selectedSort,
      serchQuery: (state) => state.post.serchQuery,
      page: (state) => state.post.page,
      limit: (state) => state.post.limit,
      totalPages: (state) => state.post.totalPages,
      sortOptions: (state) => state.post.sortOptions,
    }),
    ...mapGetters({
      sortedAndSerchPosts: "post/sortedAndSerchPosts",
      sortedPosts: "post/sortedPosts",
    }),
  },
  watch: {
    page() {
      this.fetchPosts();
    },
  },
};
</script>

<style>
.app__btns {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.page__wrapper {
  display: flex;
  margin-top: 15px;
}
.page {
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}
.current-page {
  border: 5px solid green;
}
</style>